* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fc;
}

.navbar {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;  
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background: #624bff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.logo h1 {
  font-size: 20px;
  color: #222;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-links a.active {
  background: #e9edff;
  color: #624bff;
  font-weight: 600;
}

.nav-links a:hover {
  background: #f1f3ff;
  color: #624bff;
}

.nav-links a.inactive {
  background: none;
  padding: 10px;
}

.dashboard {
  padding: 30px 5px;
  margin: 1px;
  gap: 10px;
}

.dashboard-title {
  font-size: 1.6rem;
  margin-bottom: 25px;
  padding-top: 30px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 50px;
  padding-right: 20px;
}

.create-task {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
}

.create-task h3 {
  margin-bottom: 20px;
}

.create-task form{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 15px;
}
.form-group {
  position: relative;
  margin-bottom: 1px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 4px;
  color: #666;
  font-size: 14px;
  pointer-events: none;
  transition: none;
}
#estimatedHours + label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #2434ec;
}
input[type="number"]::placeholder {
  opacity: 0;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group input[type="number"]:valid + label,
.form-group select:focus + label,
.form-group select:not([value=""]) + label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #2434ec; 
}

input:focus,
select:focus {
  border-color: #2434ec;
}
input[placeholder="Task Name *"],
input[placeholder="Assignee Email *"],
input[type="date"] {
  border: 1.5px solid rgb(250, 7, 19);
  outline: none;
}
.form-place {
  margin-bottom: -12px;
}

textarea[placeholder="Task Description"] {
  width: 100%;
  height: 80px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px; 
  box-sizing: border-box;
  resize: vertical; 
  margin-top: 15px;
  margin-bottom: -7px;
}

textarea[placeholder="Task Description"]::placeholder {
  color: #6b7280; 
  font-size: 14px;
  font-family: inherit;
  opacity: 1;
}

.required{
  color: #0a1486;
}
.create-task {
  margin-bottom: 0px;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

input[type="color"] {
  height: 50px;
  cursor: pointer;
  margin-top: 15px;
}
.task-color{
  margin-top: -10px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}

.progress-container input[type="range"] {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  accent-color: #4f46e5; 
}

.Percent{
  margin-top: 2px;
  text-align: center;
  display: block;
  font-weight: bold;
  color: #1161d8 !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  padding: 40px;
  color: #180d0d;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 15px;
  margin-right: 2px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.checkbox-group label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  accent-color: #3b82f6;
}

.checkbox-group .indent {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.radio-option input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color: #3b82f6;
  cursor: pointer;
}

.radio-option label {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.radio-option.indent {
  flex-basis: 100%;  
}

.file-upload {
  border: 2px dashed #888;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: 0.3s ease;
  width: 100%; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.file-upload:hover {
  background-color: #eef5ff;
  border-color: #007bff;
}

.file-upload label {
  display: block;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.file-upload span {
  font-size: 13px;
  color: #666;
}

.file-upload input[type="file"] {
  display: none;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 25px;
}

.create-btn {
  background: blue;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  width: 200px;
}

.reset-btn {
  background: lightgray;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  height: 60px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
}

.reset-icon {
  font-size: 18px;
  line-height: 1;
}

.reset-text {
  font-size: 13px;
  margin-top: 3px;
}
.task-type {
  margin-bottom: 10px;
}
.active-tasks {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.active-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-btns button {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  padding: 6px 14px;
  margin-left: 6px;
  cursor: pointer;
}

.filter-btns .active {
  background: #6c63ff;
  color: #fff;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.task-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  cursor: pointer;
}

.task-card h4 {
  font-weight: 600;
  margin-bottom: 25px;
}

.task-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
  
}
.task-card {
  transition: all 0.3s ease;
}

.task-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(98, 75, 255, 0.15); /* soft purple glow */
  border-color: #624bff;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.priority, .status {
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 10px;
}

.priority.high { background: #ffe4e4; color: #ff4d4f; }
.priority.medium { background: #fff1db; color: #f59e0b; }
.priority.low { background: #dcfce7; color: #16a34a; }

.status.pending { color:black; }
.status.in-progress { color:black; }
.status.completed { color: black; }
.dot-progress{
  color: #6c63ff;
}
.dot-pending{
  color: #f59e0b;
}
.dot-completed{
  color: #16a34a;
}
.footer {
  background-color: #f9fafb;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #e5e7eb;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1;
  min-width: 220px;
  margin: 0px 20px 20px 45px;
}

.footer-col h4 {
  font-size: 16px;
  color: #111827;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  color: #6b7280;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col ul li:hover {
  color: #111827;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4px;
  color: #6b7280;
  font-size: 13px;
}

.menu-icon,
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    height: 60px;
  }
  .logo h1 {
    font-size: 18px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links a {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 16px;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .menu-toggle {
    display: none;
  }

  .dashboard {
    padding: 80px 15px 40px 15px;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .create-task, .active-tasks {
    width: 135%;
    padding: 20px;
    margin-left: -39px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  }

  .form-group input,
  .form-group select,
  textarea,
  input[type="color"] {
    font-size: 15px;
  }

  .buttons {
    flex-direction: row;
    align-items: stretch;
  }

  .create-btn {
    width: 100%;
    height: 50px;
  }

  .reset-btn {
    width: 60px;
    height: 50px;
  }

  .task-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    display: block;
  }

  .footer-col {
    margin: 10px 0;
  }

  .footer-bottom {
    font-size: 12px;
    padding: 10px;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .navbar {
    height: 55px;
    padding: 8px 16px;
  }

  .logo h1 {
    font-size: 16px;
  }

  .logo-icon {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .dashboard-title {
    font-size: 1.2rem;
    margin-top: -57px;   
    margin-left: -37px;  
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    font-weight: 600;
  }

 .menu-icon {
  display: block;
  font-size: 22px;
  cursor: pointer;
  margin-left: auto;
  background: #f3f4f6;
  padding: 6px;
  border-radius: 6px;
}


  .menu-toggle {
    display: none;
  }

  .dashboard {
    padding: 70px 15px 40px 15px;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .create-task {
    width: 135%;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }

  .form-group input,
  .form-group select,
  textarea,
  input[type="color"] {
    font-size: 14px;
    width: 100%;
  }

  .buttons {
    flex-direction: row;
    gap: 8px;
  }

  .create-btn {
    font-size: 15px;
    height: 48px;
    width: 100%;
  }

  .reset-btn {
    font-size: 14px;
    height: 48px;
    width: 60%;
  }

  .active-tasks {
    width: 135%;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }

  .task-grid {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .filter-btns{
    margin-top: 1rem;
    margin-left: -5px;
    display:flex;
    flex-direction: row;
    gap: 15px;
  }

  .task-card {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  }

  .task-card h4 {
    font-size: 15px;
  }

  .task-card p {
    font-size: 13px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
  }

  .footer-col {
    margin: 10px 0;
  }

  .footer-col h4 {
    font-size: 15px;
  }
   .footer-col p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px; 
}

  .footer-col ul li {
    font-size: 13px;
  }

  .footer-bottom {
    font-size: 12px;
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .navbar {
    height: 60px;
    padding: 10px 25px;
  }

  .logo h1 {
    font-size: 18px;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .dashboard {
    padding-top: 0px;
  }

  .dashboard-title {
    font-size: 1.6rem;
    margin-top: 15px;       
    margin-bottom: 25px;    
    padding-left: 22px;     
    text-align: left;
    font-weight: 600;
    margin-right: 2px;
    position: relative;
    left: -45px;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .active-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
  .create-task, .active-tasks {
    width: 115%;
    margin-left: -25px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  }

  .form-group input,
  .form-group select,
  textarea {
    font-size: 15px;
    padding: 10px;
  }
  
  .create-btn {
    width: 100%;
    height: 50px;
    font-size: 15px;
  }

  .reset-btn {
    width: 70px;
    height: 50px;
    font-size: 14px;
  }

  .task-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    margin: 10px 0;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 1025px) {
   body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  padding: 7px;
  color: #180d0d;
}

  .navbar {
    padding: 15px 30px;
    height: 70px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 15px;
    padding: 8px 12px;
  }

  .dashboard {
    padding: 80px 25px 40px 25px;
  }

  .dashboard-title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  padding-top: 10px;
}

  .dashboard-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .create-task, .active-tasks {
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  }

  .create-task form {
    gap: 20px;
  }

  .form-group input,
  .form-group select,
  textarea {
    font-size: 15px;
    padding: 12px;
  }

  .checkbox-group,
  .radio-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: -1px 40px; 
    box-sizing: border-box;
    gap: 11rem;
    margin-bottom: 35px;
  }

  .checkbox-group label,
  .radio-group .radio-option label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    white-space: nowrap;
  }

  .checkbox-group input,
  .radio-group input {
    transform: scale(1.1);
    cursor: pointer;
  }

  .checkbox-group .indent,
  .radio-group .indent {
    margin-left: 0 !important;
  }

  .radio-group .radio-option {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .buttons {
    flex-direction: row;
    gap: 30px;
    margin-top: 35px;
  }

  .create-btn {
    width: 60%;
    height: 55px;
    font-size: 16px;
  }

  .reset-btn {
    width: 35%;
    height: 55px;
  }
  
  .task-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }

  .task-card {
    padding: 22px;
  }

  .task-card h4 {
    font-size: 16px;
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .footer-col {
    min-width: 200px;
    text-align: center;
  }

  .footer-bottom {
    font-size: 13px;
  }
}


